<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
     <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <div class="container headercontainer" >
        <h1 class="logo">My web app via Flask</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{url_for('home')}}">Home</a> </li>
            <li><a href="{{url_for('about')}}">About</a> </li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {%block content%}   <!-- content is the name of the block - child template here -->
      {%endblock%}
    </div>
  </body>
</html>